Import Packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Load Data

In [8]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
title_basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [9]:
basics_url2="https://datasets.imdbws.com/title.akas.tsv.gz"
title_akas = pd.read_csv(basics_url2, sep='\t', low_memory=False)

In [10]:
basics_url3="https://datasets.imdbws.com/title.ratings.tsv.gz"
title_ratings = pd.read_csv(basics_url3, sep='\t', low_memory=False)

# Title_Basics

Filtering/Cleaning Data

In [5]:
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [6]:
title_basics.duplicated().sum()

0

In [7]:
title_basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [8]:
title_basics.dropna(subset=['primaryTitle', 'originalTitle', 'genres'], inplace=True)
title_basics.isna().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

Replace "\N" with np.nan

In [9]:
title_basics['endYear'] = title_basics['endYear'].replace({'\\N':np.nan})
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9566812,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,\N,"Action,Drama,Family"
9566813,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,\N,"Action,Drama,Family"
9566814,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,\N,"Action,Drama,Family"
9566815,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9566816,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [10]:
title_basics['runtimeMinutes'] = title_basics['runtimeMinutes'].replace({'\\N':np.nan})
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9566812,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,NaN,"Action,Drama,Family"
9566813,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9566814,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"
9566815,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9566816,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [11]:
title_basics['genres'] = title_basics['genres'].replace({'\\N':np.nan})
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9566812,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,NaN,"Action,Drama,Family"
9566813,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9566814,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"
9566815,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9566816,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [12]:
title_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 0
startYear               0
endYear           9464993
runtimeMinutes    6785215
genres             434196
dtype: int64

In [13]:
title_basics = title_basics.drop(columns=['endYear'])
title_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 0
startYear               0
runtimeMinutes    6785215
genres             434196
dtype: int64

In [14]:
title_basics.dropna(subset=['runtimeMinutes'], inplace=True)
title_basics.isna().sum()

tconst                0
titleType             0
primaryTitle          0
originalTitle         0
isAdult               0
startYear             0
runtimeMinutes        0
genres            75331
dtype: int64

In [15]:
title_basics.dropna(subset=['genres'], inplace=True)
title_basics.isna().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
runtimeMinutes    0
genres            0
dtype: int64

Eliminate movies that include "Documentary" in genre

In [16]:
#Eliminate movies that include "Documentary" in genre
is_documentary = title_basics['genres'].str.contains('documentary',case=False)
title_basics= title_basics[~is_documentary]

In [17]:
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,1,Short
...,...,...,...,...,...,...,...,...
9566740,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,66,Drama
9566773,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,43,"Family,Game-Show,Reality-TV"
9566808,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,11,"Adventure,Animation,Comedy"
9566815,tt9916856,short,The Wind,The Wind,0,2015,27,Short
9566816,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,10,"Adventure,Animation,Comedy"

Keep only US movies

In [18]:
keepers =title_basics['tconst'].isin(title_akas['titleId'])
keepers

1           True
2           True
3           True
4           True
5           True
           ...
9566740     True
9566773     True
9566808    False
9566815     True
9566816    False
Name: tconst, Length: 2309811, dtype: bool

In [19]:
title_basics = title_basics[keepers]
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,1,Short
...,...,...,...,...,...,...,...,...
9566703,tt9916610,short,Private Eye,Private Eye,0,2019,22,"Drama,Mystery,Sci-Fi"
9566705,tt9916616,short,Terror,Terror,0,\N,13,"Drama,Short"
9566740,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,66,Drama
9566773,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,43,"Family,Game-Show,Reality-TV"
9566815,tt9916856,short,The Wind,The Wind,0,2015,27,Short

keep only titleType==Movie

In [20]:
#Eliminate movies that include "short" in genre
is_short = title_basics['titleType'].str.contains('short',case=False)
title_basics= title_basics[~is_short]

#Eliminate movies that include "tvEpisode	" in genre
is_tvEpisode = title_basics['titleType'].str.contains('tvEpisode',case=False)
title_basics= title_basics[~is_tvEpisode]

#Eliminate movies that include "tvSeries" in genre
is_tvSeries = title_basics['titleType'].str.contains('tvSeries',case=False)
title_basics= title_basics[~is_tvSeries]

#Eliminate movies that include "tvMovie" in genre
is_tvMovie = title_basics['titleType'].str.contains('tvMovie',case=False)
title_basics= title_basics[~is_tvMovie]

#Eliminate movies that include "video" in genre
is_video = title_basics['titleType'].str.contains('video',case=False)
title_basics= title_basics[~is_video]

In [21]:
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120,"Adventure,Fantasy"
930,tt0000941,movie,Locura de amor,Locura de amor,0,1909,45,Drama
...,...,...,...,...,...,...,...,...
9566490,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,51,Drama
9566499,tt9916190,movie,Safeguard,Safeguard,0,2020,95,"Action,Adventure,Thriller"
9566538,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,84,Thriller
9566583,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History"
9566667,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,123,Drama

# Title_Akas

In [22]:
basics_url2="https://datasets.imdbws.com/title.akas.tsv.gz"
title_akas = pd.read_csv(basics_url2, sep='\t', low_memory=False)

Explore Dataset

In [23]:
title_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34716118 entries, 0 to 34716117
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [24]:
title_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

Replace "\N" with np.nan

In [25]:
title_akas['attributes'] = title_akas['attributes'].replace({'\\N':np.nan})
title_akas['language'] = title_akas['language'].replace({'\\N':np.nan})
title_akas['types'] = title_akas['types'].replace({'\\N':np.nan})
title_akas['title'] = title_akas['title'].replace({'\\N':np.nan})
title_akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
...,...,...,...,...,...,...,...,...
34716113,tt9916852,5,Episódio #3.20,PT,pt,NaN,NaN,0
34716114,tt9916852,6,Episodio #3.20,IT,it,NaN,NaN,0
34716115,tt9916852,7,एपिसोड #3.20,IN,hi,NaN,NaN,0
34716116,tt9916856,1,The Wind,DE,NaN,imdbDisplay,NaN,0
34716117,tt9916856,2,The Wind,\N,NaN,original,NaN,1

In [26]:
title_akas['region'] = title_akas['region'].replace({'\\N':np.nan})
title_akas['isOriginalTitle'] = title_akas['isOriginalTitle'].replace({'\\N':np.nan})
title_akas['ordering'] = title_akas['ordering'].replace({'\\N':np.nan})
title_akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
...,...,...,...,...,...,...,...,...
34716113,tt9916852,5,Episódio #3.20,PT,pt,NaN,NaN,0
34716114,tt9916852,6,Episodio #3.20,IT,it,NaN,NaN,0
34716115,tt9916852,7,एपिसोड #3.20,IN,hi,NaN,NaN,0
34716116,tt9916856,1,The Wind,DE,NaN,imdbDisplay,NaN,0
34716117,tt9916856,2,The Wind,NaN,NaN,original,NaN,1

Eliminate Missing Values

In [27]:
title_akas.isna().sum()

titleId                   0
ordering                  0
title                     5
region              1877850
language            6482437
types              29261984
attributes         34462531
isOriginalTitle        2109
dtype: int64

In [28]:
title_akas.dropna(subset=['region'], inplace=True)
title_akas.dropna(subset=['language'], inplace=True)
title_akas.dropna(subset=['types'], inplace=True)
title_akas.dropna(subset=['attributes'], inplace=True)
title_akas.dropna(subset=['isOriginalTitle'], inplace=True)
title_akas.dropna(subset=['title'], inplace=True)
title_akas.isna().sum()

titleId            0
ordering           0
title              0
region             0
language           0
types              0
attributes         0
isOriginalTitle    0
dtype: int64

Keep only US movies

In [29]:
title_akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
102119,tt0022542,1,Di shtime fun Yisroel,US,yi,alternative,YIVO translation,0
114253,tt0024265,4,Geleb un gelakht,US,yi,alternative,modern translation,0
117678,tt0024751,9,Avram Ovenu,US,yi,alternative,YIVO translation,0
126444,tt0026010,3,Der yidishe Kenigen Lir,US,yi,alternative,YIVO translation,0
140106,tt0027911,1,Libe un Laydnshaft,US,yi,alternative,modern translation,0
...,...,...,...,...,...,...,...,...
33029959,tt9015974,1,aşk Üzerine Kısa Bir Film,TR,tr,imdbDisplay,poster title,0
33435861,tt9248018,3,ODTÜ Tarihi: Bozkırı Yeşertenler ve Zor Yıllar...,TR,tr,imdbDisplay,poster title,0
33584261,tt9322538,1,Aşka Zaman,TR,tr,imdbDisplay,original script title,0
33745130,tt9406716,1,45. Pantene Altın Kelebek Ödül Töreni,TR,tr,imdbDisplay,new title,0
34236861,tt9667744,4,Masal çiçeği,TR,tr,imdbDisplay,pre-release title,0

In [31]:
title_akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 447 entries, 102119 to 34236861
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titleId          447 non-null    object
 1   ordering         447 non-null    int64
 2   title            447 non-null    object
 3   region           447 non-null    object
 4   language         447 non-null    object
 5   types            447 non-null    object
 6   attributes       447 non-null    object
 7   isOriginalTitle  447 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.4+ KB

# Title_Ratings

In [2]:
basics_url3="https://datasets.imdbws.com/title.ratings.tsv.gz"
title_ratings = pd.read_csv(basics_url3, sep='\t', low_memory=False)

In [3]:
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1946
1  tt0000002            5.8       263
2  tt0000003            6.5      1773
3  tt0000004            5.6       179
4  tt0000005            6.2      2580

In [4]:
title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1273172 entries, 0 to 1273171
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1273172 non-null  object
 1   averageRating  1273172 non-null  float64
 2   numVotes       1273172 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.1+ MB

Replace "\N" with np.nan

In [5]:
title_ratings['tconst'] = title_ratings['tconst'].replace({'\\N':np.nan})
title_ratings['averageRating'] = title_ratings['averageRating'].replace({'\\N':np.nan})
title_ratings['numVotes'] = title_ratings['numVotes'].replace({'\\N':np.nan})
title_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1946
1        tt0000002            5.8       263
2        tt0000003            6.5      1773
3        tt0000004            5.6       179
4        tt0000005            6.2      2580
...            ...            ...       ...
1273167  tt9916730            8.1         9
1273168  tt9916766            7.0        21
1273169  tt9916778            7.2        36
1273170  tt9916840            8.8         6
1273171  tt9916880            8.2         6

[1273172 rows x 3 columns]

In [6]:
title_ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

Keep only US movies

In [11]:
keepers =title_basics['tconst'].isin(title_akas['titleId'])
keepers

0           True
1           True
2           True
3           True
4           True
           ...
9566812     True
9566813     True
9566814     True
9566815     True
9566816    False
Name: tconst, Length: 9566817, dtype: bool

In [12]:
title_ratings = title_ratings[keepers]
title_ratings

C:\Users\Admin\AppData\Local\Temp\ipykernel_14916\2276205170.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  title_ratings = title_ratings[keepers]

            tconst  averageRating  numVotes
0        tt0000001            5.7      1946
1        tt0000002            5.8       263
2        tt0000003            6.5      1773
3        tt0000004            5.6       179
4        tt0000005            6.2      2580
...            ...            ...       ...
1273166  tt9916690            7.8         7
1273167  tt9916730            8.1         9
1273169  tt9916778            7.2        36
1273170  tt9916840            8.8         6
1273171  tt9916880            8.2         6

[1014259 rows x 3 columns]